body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.TicketAttachmentIcons img{
    height:15vh;
    width:15vh;
}
.wordWrapBreakWord {
    overflow-wrap: break-word !important;
    word-wrap: break-word !important;
    word-break: break-all !important;
    -ms-word-break: break-all !important;
    /* Non standard for webkit */
    word-break: break-word !important;
    -webkit-hyphens: auto !important;
    -moz-hyphens: auto !important;
    -ms-hyphens: auto !important;
    hyphens: auto !important;
}
.loginDiv {
    background-image: url('../../Content/Images/Radar elements blue background vector.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.table_padding {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    height: 10vh;
}
.table_title {
    padding-left:5px;
    margin-top:15px;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #f4f8f9;
}
.center_text{
    text-align:center!important;
}
.bg-roseybrown {
    background-color: #BC8F8F;
}

a.bg-roseybrown:hover,
a.bg-roseybrown:focus {
    background-color: #d9bfbf;
}
/* 
    I added this here for reference.  It is located in site.css ln. 15832 of the Cubic specific stylesheet
    I normally wouldn't change anything there and would just over-ride it here, but I do not trust CSS.
.fix-header .page-wrapper {
    margin-top: 0px /* originally, it was 60px*/

.nav-tabs > li > a {
    border-radius: 0;
    color: #2b2b2b
}
    .nav-tabs > li:focus,
    .nav-tabs > li:active,
    .nav-tabs > li > a:focus,
    .nav-tabs > li > a:active,
    .nav-tabs > li > a:hover,
    .nav-tabs > li > a > span:focus,
    .nav-tabs > li > a > span:active,
    .nav-tabs > li > a > span:hover,
    .nav > li:focus,
    .nav > li:active,
    .nav > li > a:focus,
    .nav > li > a:active,
    .nav > li > a:hover,
    .nav > li > a > span:focus,
    .nav > li > a > span:active,
    .nav > li > a > span:hover,
    .white-box > ul > li:focus,
    .white-box > ul > li:active,
    .white-box > ul > li > a:focus,
    .white-box > ul > li > a:active,
    .white-box > ul > li > a:hover,
    .white-box > ul > li > a > span:focus,
    .white-box > ul > li > a > span:active,
    .white-box > ul > li > a > span:hover,
    .customtab > li:focus,
    .customtab > li:active,
    .customtab > li > a:focus,
    .customtab > li > a:active,
    .customtab > li > a:hover,
    .customtab > li > a > span:focus,
    .customtab > li > a > span:active,
    .customtab > li > a > span:hover,
    .tabs > li:focus,
    .tabs > li:active,
    .tabs > li > a:focus,
    .tabs > li > a:active,
    .tabs > li > a:hover,
    .tabs > li > a > span:focus,
    .tabs > li > a > span:active,
    .tabs > li > a > span:hover {
        background: none;
        background-color: transparent;
    }
.btn-danger > a:active,
.btn-danger > li:active
.btn-danger > li > a:active {
    background: #d9534f!important;
}
.customtab li.active a,
.customtab li.active a:focus,
.customtab li.active a:hover {
    /*background: #2b2b2b;*/
    background: content-box;
    border: 0;
    border-bottom: 2px solid #0283cc;
    margin-bottom: -1px;
    color: #fff;
}
