<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Ticket Modified</title>
</head>
<body>
    <div style="background: linear-gradient(#4717f6, gray);" >
        <h1 style="color:white; margin-bottom:0px;">BugTracker Notification Services</h1>
        <h4 style="color:white; margin-top:5px;">Ticket Change Notification</h4>
    </div>    <!--Thin Line across message-->
    <h2 style="margin-bottom:0px;">Ticket Modified</h2>
    <h3 style="margin-top:5px;">A ticket that you are assigned to has been modified.</h3>
    <br />
    <div style="background: linear-gradient(#4717f6, gray);">
        <h2 style="color:white; margin-bottom:0px;">Overview</h2>
    </div>
    <h3>Here are the current ticket details:</h3>
    <br>
    <dl class="dl-horizontal">
        <dt>Ticket Link</dt>
        <dd></dd>
        <dt>Ticket Title</dt>
        <dd></dd>
        <dt>Ticket Description</dt>
        <dd></dd>
        <dt>Parent Project</dt>
        <dd></dd>
        <dt>Priority Level</dt>
        <dd></dd>
        <dt>Status Level</dt>
        <dd></dd>
        <dt>Ticket Type</dt>
        <dd></dd>
        <dt>Creation Date</dt>
        <dd></dd>
        <dt>Last Updated</dt>
        <dd></dd>
        <dt>Ticket Owner</dt>
        <dd></dd>
        <dt>Assigned Developer</dt>
        <dd></dd>
    </dl>

    

    <br>
    <div style="background: linear-gradient(#4717f6, gray);"><h2 style="color:white; margin-bottom:0px;">Modification Details</h2></div>
    <dl>
        <dt>Modified by:</dt>
        <dd></dd>
        <dt>Modified Date:</dt>
        <dd></dd>
    </dl><h3>Modified Properties</h3><table id="Properties" class="table"><thead>
            <tr><th>Property</th><th>Old Value</th><th>New Value</th></tr></thead><tbody>
            
            <tr><td></td><td></td><td></td></tr>
        </tbody></table></body></html>