@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color: blue; text-align:center; ">
    A registration confirmation email has been sent to your account.
    The email will contain a link that will return you to the login page.
    Please allow up to 10 minutes to receive the email.
    If you do not receive it within that time, please check your Junk or Spam email folders.
</h2>